#about {
    max-width: 800px;
    margin: auto;
}

#about > * {
    margin-bottom: 7rem;

    transition: opacity .25s ease;
}

#about > :nth-child(even) > .section-title {
    text-align: right;
}

.section-title {
    font-size: 2rem;
    margin-bottom: 2rem;
}

#profile-img {
    width: 100%;
}

#description {
    position: relative;
    margin-top: 3rem;
    padding-top: 2rem;
    font-size: 1.25rem;
    line-height: 2.5rem;
}

#description::before {
    content: "";
    position: absolute;
    left: 0;
    right: 75%;
    bottom: 100%;
    height: 1px;
    background-color: var(--foreground-light);
}

#history-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: .5rem;
}

/* Normal history-item */

.history-item {
    position: relative;
}

.history-item > .thumbnail {
    width: 100%;
    display: block;
}

.history-item > .thumbnail-title {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    color: white;
    font-size: 1rem;
    backdrop-filter: brightness(.25);
    -webkit-backdrop-filter: brightness(.25);
    pointer-events: none;
}


/* Expanded history-item */

.history-popup {
    position: fixed;
    display: none;
    transition: left .25s ease,
                top .25s ease,
                width .25s ease,
                height .25s ease,
                opacity .25s ease,
                transform .25s ease; 
    transform-origin: center;
}

.history-popup > * {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.history-popup img {
    width: 100%;
    filter: brightness(10%);
}

.more-info-container {
    display: none;
}

.more-info > * {
    z-index: 100;
}

.more-info {
    padding: 5rem;
    color: var(--off-white);
}

.history-title {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.history-popup .close {
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    font-size: 1rem;
    letter-spacing: 2px;
    color: var(--off-white);
    border: 1px solid var(--off-white);
    border-radius: 0;
    background-color: transparent;
}

#skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
}

.skill {
    position: relative;
    cursor: pointer;
    perspective: 1000px;
}

.skill.flipped .front{
    transform: rotateY(-180deg);
}
.skill.flipped .back{
    transform: rotateY(0);
}

.front, .back {
    position: absolute;
    inset: 0 0 0 0;
    backface-visibility: hidden;
    transition: transform .75s ease;
    background-color: var(--off-white);
}

.front {
    display: block;
}

.back {
    display: block;

    transform: rotateY(180deg);
}

@media (max-width: 800px) {
   #about {
        padding-left: var(--page-margin);
        padding-right: var(--page-margin);
   } 

    .history-item.expanded {
        display: block;
        position: relative;
        color: var(--off-white);
    }

    .history-item.expanded > .thumbnail {
        width: 100%;
        height: auto;
    }

    .history-item.expanded > .more-info-container {
        padding-left: 0;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        backdrop-filter: blur(5px) brightness(.5);
        -webkit-backdrop-filter: blur(5px) brightness(.5);
    }
    .history-item.expanded .more-info {
        padding: 4rem;
    }

    .history-item.expanded .back {
        border-color: var(--off-white);
        color: var(--off-white);
    }
}