#about {
    max-width: 800px;
    margin: auto;
}

#about > * {
    margin-bottom: 5rem;
}

.section-title {
    font-size: 2rem;
    margin-bottom: 2rem;
}

#profile-img {
    width: 100%;
}

#description {
    position: relative;
    margin-top: 3rem;
    padding-top: 2rem;
    font-size: 1.25rem;
    line-height: 2.5rem;
}

#description::before {
    content: "";
    position: absolute;
    left: 0;
    right: 75%;
    bottom: 100%;
    height: 1px;
    background-color: var(--foreground-light);
}

#history-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: .5rem;
}

/* Normal history-item */

.history-item > .thumbnail {
    width: 100%;
    display: block;
}

.history-item > .more-info {
    display: none;
}

/* Expanded history-item */

.history-item.expanded {
    display: flex;
}

.history-item.expanded > .thumbnail {
    width: 33%;
    height: fit-content;
}

.history-item.expanded > .more-info {
    display: block;
}

@media (max-width: 800px) {
   #about {
        padding-left: var(--page-margin);
        padding-right: var(--page-margin);
   } 

    .history-item.expanded {
        display: block;
        position: relative;
    }

    .history-item.expanded > .thumbnail {
        width: 100%;
        height: auto;
    }

    .history-item.expanded > .more-info {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        backdrop-filter: blur(5px) brightness(.5);
        -webkit-backdrop-filter: blur(5px) brightness(.5);
    }
}

/* 534 is the magic number where we break to single column for history grid */
@media (max-width: 650px) {


    
}
