.case-study {
    max-width: 800px;
    margin: auto;
}

header {
    margin-bottom: 3rem;
}

.case-study-title {
    margin-bottom: 2rem;
}

.case-study-description {
    display: grid;
    grid-template-columns: 1fr .45fr;
    font-size: 1.1rem;
    line-height: 2rem;
}

.case-study-subtitle {
    margin-right: .5rem;
}

.case-study-information {
    margin-left: .5rem;
    list-style: none;
    color: var(--foreground-light);
}

.case-study-img {
    width: 100%;
    margin-bottom: 1.5rem;
}

.more-info {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.more-info ul {
    list-style: none;
}

.info {
    margin-bottom: 2rem;
    line-height: 2rem;
}

.info .info-title {
    line-height: 2.5rem;
}

.info-list li {
    max-width: 75ch;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

@media (max-width: 800px) {
    .case-study {
        padding-left: var(--page-margin);
        padding-right: var(--page-margin);
    }

    .case-study-description {
        display: block;
    }

    .case-study-subtitle {
        margin-right: 0;
        margin-bottom: 2rem;
    }

    .case-study-information {
        margin-left: 0;
    }
}