.footer-links {
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: flex;
    justify-content: center;
}

.footer-link {
    padding-left: 1rem;
    padding-right: 1rem;

    text-decoration: none;
    color: var(--foreground-light);
    transition: var(--color-transition);
}

.footer-link:hover {
    color: var(--accent-color);
}