/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

/* Global resets */
* {
    margin: 0;
    padding: 0;
}

:root {
    /* Reused Colors */
    --foreground-dark: #414042;
    --foreground-light: #95989b;
    --off-white: #f0f0f0;
    --accent-color: #75C7A3;
    --accent-color-faded: #A8DACB;

    /* Reused border */
    --border: 20px solid var(--foreground-dark);

    /* Reused Units */
    --page-margin: 6rem;

    /* Reused transitions */
    --fade: fade .5s forwards ease-in;
    --opacity-transition: opacity .25s;
    --background-transition: background-color .25s ease;
    --color-transition: color .25s ease;
    --border-transition: border-color .25s ease;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--foreground-light);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--foreground-dark);
}


::selection {
    background-color: var(--foreground-dark);
    color: white;
}

:focus-visible {
    outline: 2px solid var(--foreground-dark);
    border-radius: 0;
    padding: .5rem;
}

body {
    font-family: "Karla", sans-serif;
    /* color: var(--foreground-dark); */
    color: white;
    background-color: #141414;

    min-height: 100vh;
}

.major-title {
    font-family: "Jost", "Karla", sans-serif;
    letter-spacing: 0;
    text-transform: uppercase;
}

.hoverable:hover {
    cursor: pointer;
}

.page {
    padding-top: 2rem;
    animation: var(--fade);
}

a.link {
    text-decoration: underline;
    color: var(--foreground-light);
    transition: var(--color-transition);
}

a.link:hover {
    color: var(--accent-color);
}

/* .page > * {
    padding-left: var(--page-margin);
    padding-right: var(--page-margin);
} */

/* This is the point at which we break into mobile view */
@media (max-width: 650px) {
    :root {
        --page-margin: 1.5rem;
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 100%;
    }
}