/* Global resets */
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

:root {
    /* Default transition for color on hover effects */
    --color-transition: color .25s;

    --foreground-dark: #414042;
    --foreground-light: #808285;
    --accent-color: #75C7A3;
    --accent-color-faded: #A8DACB;

    --drop-transition: transform .25s ease-out;
    --opacity-transition: opacity .25s;
}

.hoverable:hover {
    cursor: pointer;
}

