/* Global resets */
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

:root {
    /* Default transition for color on hover effects */
    --color-transition: color .25s;

    --off-black: #414042;
    --gray: #808285;
    --accent-color: #75C7A3;
    --accent-color-faded: #A8DACB;
}

.hoverable:hover {
    cursor: pointer;
}

/* Begin by displaying nothing */
#home, main {
    display: none;
}

/* The works page should be the first one to appear */
#about, #contact {
    display: none;
}