.masonry-grid {
    --row-height: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-auto-rows: var(--row-height);
    margin: 2rem 0;
    animation: fade 1s ease forwards;
}

.masonry-grid-item-container {
    overflow: hidden;
    margin: var(--row-height);
}

.masonry-grid-item {
    width: 100%;
}

@media (max-width: 650px) {
    .masonry-grid {
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    }

    .masonry-grid-item-container {
        margin-left: 0;
        margin-right: 0;
    }
}