nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 5rem 0 3rem;
}

#logo {
    width: 75px;
}

#nav-link-list {
    gap: 2.5rem;
    display: flex;
}

#nav-link-list > li {
    list-style: none;
}

.nav-link {
    text-transform: uppercase;
    letter-spacing: 3px;
    color: var(--gray);
    transition: var(--color-transition);
}

/* Represents the link of the page that the user is currently on */
.nav-link.current {
    padding: .25rem .75rem .25rem 1rem;
    color: var(--accent-color);
    outline: 3px solid var(--accent-color);
}

.nav-link:hover {
    color: var(--accent-color);
}

#hamburger {
    display: none;
    width: 60px;
    fill: var(--gray);
}

@media (max-width: 650px) {
    nav {
        padding: 3rem 3rem 0 3rem;
    }

    #hamburger {
        display: block;
        z-index: 100;
    }

    #nav-link-list {
        z-index: 50;
        display: block;
        position: fixed;
        left: 35%;
        right: 0;
        top: 0;
        bottom: 0;
        padding-top: 20vh;
        padding-left: 5vw;
        background-color: white;
        transition: transform .25s ease-in-out;
    }

    nav.nav-hidden > #nav-link-list {
        transform: translateX(65vw);
    }

    .nav-link {
        line-height: 2;
        font-size: 2rem;
    }

    #backdrop-filter {
        display: none;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, .5);
    }

    /* Animation for clicking on the hamburger */

    /* When navbar is hidden */
    .hamburger-line {
        transition: 
            y .25s .1s,
            transform .25s,
            opacity 0s .1s;
        transform-origin: center;
    }

    /* When navbar is visible */
    nav.nav-visible .hamburger-line {
        transition: 
            y .25s,
            transform .25s .1s,
            opacity 0s .1s;
    }

    nav.nav-visible .hamburger-line.top,
    nav.nav-visible .hamburger-line.bottom {
        y: 32.5;
    }

    nav.nav-visible .hamburger-line.top {
        transform: rotate(45deg);
    }

    nav.nav-visible .hamburger-line.middle {
        opacity: 0;
    }

    nav.nav-visible .hamburger-line.bottom {
        transform: rotate(-45deg);
    }
}