#main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 5rem 0 3rem;
}

#logo {
    width: 75px;
}

#nav-link-list {
    display: flex;
}

#nav-link-list > *:not(li:last-child) {
    margin-right: 2.5rem;
}

.nav-link {
    text-transform: uppercase;
    letter-spacing: 3px;
    color: var(--foreground-light);
    text-decoration: none;
    transition: var(--color-transition);
}

.nav-link.current {
    padding: .25rem .75rem .25rem 1rem;
    /* color: var(--accent-color); */
    color: rgb(205, 205, 205);
    /* outline: 3px solid var(--accent-color); */
    outline: 3px solid rgb(205, 205, 205);
}

.nav-link:hover {
    /* color: var(--accent-color); */
    color: rgb(23, 23, 23);
}

#hamburger {
    display: none;
    width: 60px;
    fill: var(--foreground-light);
}

#close {
    display: none;
    width: 45px;
    fill: var(--foreground-light);
}

@media (max-width: 650px) {
    #main-nav {
        padding-top: calc(var(--page-margin) + 1rem);
        padding-left: var(--page-margin);
        padding-right: var(--page-margin);
    }

    #hamburger, #close {
        display: block;
    }

    #nav-link-list {
        box-sizing: border-box;
        z-index: 50;
        flex-direction: column;
        position: fixed;
        right: -100%;
        left: 100%;
        top: 0;
        bottom: 0;
        width: 55%;
        padding-top: 18vh;
        padding-bottom: 1rem;
        padding-right: 1rem;
        /* background-color: var(--off-white); */
        text-align: right;
    }

    #close {
        position: absolute;
        right: 1rem;
        top: 3rem;
    }

    #nav-link-list::after {
        content: "";
        position: absolute;
        bottom: 0;
        right: 1rem;
        left: 70%;
        height: 2px;
        background-color: var(--foreground-light); 
    }

    body {
        transition: transform .5s ease;
        overflow-x: hidden;
    }

    /* nav.nav-hidden > #nav-link-list {
        transform: translateX(65vw); 
        right: -100%;
        left: 100%;
    } */
    #nav-link-list > *:not(li:last-child) {
        margin-right: 0;
    }

    .nav-link {
        line-height: 2;
        font-size: 2rem;
        letter-spacing: .25rem;
    }

    #backdrop-filter {
        display: none;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, .5);
        z-index: 10;
    }

    /* ===== Animation for clicking on the hamburger ===== */

    /* When navbar is hidden */
    /* .hamburger-line {
        transition: 
            y .25s .1s,
            transform .25s,
            opacity 0s .1s;
        transform-origin: center;
    }

    nav.nav-visible .hamburger-line {
        transition: 
            y .25s,
            transform .25s .1s,
            opacity 0s .1s;
    }

    nav.nav-visible .hamburger-line.top,
    nav.nav-visible .hamburger-line.bottom {
        y: 32.5;
    }

    nav.nav-visible .hamburger-line.top {
        transform: rotate(45deg);
    }

    nav.nav-visible .hamburger-line.middle {
        opacity: 0;
    }

    nav.nav-visible .hamburger-line.bottom {
        transform: rotate(-45deg);
    } */
}