#work {
    margin-right: var(--page-margin);
    margin-left: var(--page-margin);
    --row-height: 10px;
    --filter-line-bg: var(--foreground-light);
}

#work-filter {
    position: relative;
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    transition: padding-bottom 1s ease;
}

#work-filter::after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: var(--filter-line-bg);
    left: .75rem;
    right: 80%;
}

.filter {
    padding-left: .5rem;
    font-size: 1.75rem;
    font-family: "Jost";
    text-transform: uppercase;
    color: var(--foreground-light);
}

.filter.current {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: var(--row-height);
    color: var(--foreground-dark);
}

#filter-dropdown {
    list-style: none;
    display: none;
}

#filter-dropdown .filter {
    /* display: inline; */
    transition: color .25s ease, 
                background-color .5s ease;
    opacity: 90%;
}

#filter-dropdown .filter:hover {
    color: var(--accent-color);
}

.dropdown-arrow {
    width: 1.5rem;
    height: 1.5rem;
    padding-left: .25rem;
    fill: var(--accent-color);
    transition: transform .25s ease;
}

#personal-work {
    /* Start by only showing client work */
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.masonry-grid {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

@media (max-width: 770px) {
    #work-filter {
        position: sticky;
        top: -1px;
        width: auto;
        flex-direction: column;
        align-items: center;
        z-index: 10;
        background-color: white;
        opacity: 95%;
    }

    /* When the work filter is stuck to the top get rid of some padding and line */
    #work-filter.stuck {
        --filter-line-bg: transparent;
        padding-bottom: 0;
    }

    #work-filter::after {
        left: 45%;
        right: 45%;
    }

    .filter {
        text-align: center;
        white-space: nowrap;
        padding-top: .25rem;
        padding-bottom: .25rem;
        font-size: 1.5rem;
    }
}

@media (max-width: 650px) {
    #personal-work {
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    }

    .gallery-current {
        --landscape-width: 90%;
        --landscape-height: auto;

        --portrait-width: 90%;
        --portrait-height: auto;
    }
}