#work {
    margin-right: var(--page-margin);
    margin-left: var(--page-margin);
    --row-height: 10px;
}

#work-filter {
    display: flex;
    position: relative;
    width: fit-content;
}

.filter {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    font-size: 1.5rem;
    font-family: "Jost";
    text-transform: uppercase;
    background-color: var(--off-white);
}

.filter.current {
    position: relative;
    display: flex;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: var(--row-height);
    font-size: 2rem;
    color: var(--foreground-dark);
    background-color: transparent;
}

#filter-dropdown {
    list-style: none;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 10;
    display: none;
}

#filter-dropdown > * {
    border-top: 1px solid var(--foreground-light);
    transition: color .25s ease, 
                background-color .5s ease;
}

#filter-dropdown > *:hover {
    background-color: var(--foreground-light);
    color: white;
}

.dropdown-arrow {
    width: 1.5rem;
    height: 1.5rem;
    padding-left: .25rem;
    fill: var(--accent-color);
}

#personal-work {
    /* Start by only showing client work */
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

@media (max-width: 770px) {
    #work-filter {
        padding-top: 1rem;
        padding-bottom: 1rem;
        position: sticky;
        top: 0;
        width: auto;
        flex-direction: column;
        align-items: center;
        z-index: 10;
        background-color: white;
        opacity: 95%;
    }

    .filter {
        font-size: 1.75rem;
        background-color: transparent;
        text-align: center;
    }

    .filter.current {
        font-size: 1.75rem;
        padding-left: 1rem;
        padding-top: .5rem;
        padding-bottom: .5rem;
    }

    #filter-dropdown {
        position: static;
    }

    #filter-dropdown > .filter {
        border-top: none;
    }
}

@media (max-width: 650px) {
    #personal-work {
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    }

    .gallery-current {
        --landscape-width: 90%;
        --landscape-height: auto;

        --portrait-width: 90%;
        --portrait-height: auto;
    }
}