#contact {
    box-sizing: border-box;
    max-width: 650px;
    margin: auto;
}

input,
textarea {
    font-family: "Karla", sans-serif;
    color: var(--foreground-dark);
}

/*
 Disinclude the submit button because 
 it should have an outline when tabbed onto
*/
input:not([type="submit"]:focus),
textarea:focus {
    outline: none;
}

#cta {
    font-size: 2.5rem;
}

#contact-form {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

#contact-form>* {
    font-size: 1.5rem;
    box-sizing: border-box;
    padding: .5rem;
    margin-bottom: 1rem;
    width: 100%;
    border: none;
    background-color: var(--off-white);
}

#body {
    resize: vertical;
}

#send {
    background-color: var(--accent-color);
    color: white;
}

@media (max-width: 650px) {
    #contact {
        padding-left: var(--page-margin);
        padding-right: var(--page-margin);
    }
}