#work-selector {
    display: flex;
    text-align: center;
    width: 25%;
    margin: auto;
    margin-top: 2rem;
}

.work-type {
    width: 50%;
    padding: .5rem 0;
    border-bottom: 5px solid var(--off-white);
    font-size: 1rem;
    color: var(--off-white);
    transition: var(--color-transition), var(--border-transition);
}

.work-type.selected {
    color: var(--accent-color);
    border-color: var(--accent-color);
}

#personal-work {
    display: none;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.work-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 1rem;
    margin: 2rem 0;
    animation: fade 1s ease forwards;
}

.thumbnail {
    width: auto;
    aspect-ratio: 16/9;
    opacity: 0;
    background-color: var(--off-white);
}


/* Not going to be displaying personal work to start */
/* #personal-work-title {
    display: none;
}

.toggle {
    background-color: var(--off-white);
    width: 4rem;
    height: 2rem;
    position: relative;
    border: none;
    border-radius: 1rem;
    transition: var(--background-transition);
}

.toggle-ball {
    position: absolute;
    border-radius: 1rem;
    transition: var(--background-transition), 
        inset .25s ease;
}

.toggle.active {
    background-color: var(--accent-color);
}

.toggle.active >.toggle-ball {
    background-color: var(--off-white);
    inset: 5px 55% 5px 5px;
}

.toggle.inactive >.toggle-ball {
    background: var(--accent-color);
    inset: 5px 5px 5px 55%;
} */

/* Update me later */
@media (max-width: 500px) {
   #work-selector {
        justify-content: space-between;
    } 
}