#work-selector {
    display: flex;
    z-index: 5;
    text-align: center;
    width: 25%;
    margin: 0 auto;
    padding-top: 2rem;
    background-color: white;
}

.work-type {
    width: 50%;
    padding: .5rem 0;
    border-bottom: 5px solid var(--off-white);
    font-size: 1rem;
    color: var(--off-white);
    transition: var(--color-transition), var(--border-transition);
}

.work-type.selected {
    color: var(--accent-color);
    border-color: var(--accent-color);
}

#personal-work {
    display: none;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.work-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 1rem;
    margin: 3rem 0;
    animation: fade 1s ease forwards;
}

.thumbnail {
    width: auto;
    aspect-ratio: 16/9;
    opacity: 0;
    background-color: var(--off-white);
}

@media (max-width: 1100px) {
    #work-selector {
        width: 50%;
    }
}

@media (max-width: 650px) {
    #work-selector {
        width: 100%;
        position: sticky;
        top: 0;
    }

    .work-grid {
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    }

    #personal-work {
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    }
}


@media (max-width: 650px) {
   #work-selector {
        justify-content: space-between;
    } 
}